<html xmlns="http://www.thymeleaf.org" 
layout:decorate="admin/layout/base">
<main layout:fragment="content" class="container-fluid flex-grow-1 p-4" style="margin-left: 250px;">
    <div class="row">
        <div class="col-12 mb-3">
            <a th:href="@{/admin/alquileres/crear}" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Nuevo Alquiler
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Coche Id</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Cliente</th>
                        <th>Precio Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alquileres : ${LAlquiler}">
                        <td th:text="${alquileres.id}"></td>
                        <td th:text="${alquileres.coche.id}"></td>
                        <td th:text="${alquileres.fecha_inicio}"></td>
                        <td th:text="${alquileres.fecha_fin}"></td>
                        <td th:text="${alquileres.cliente.id}"></td>
                        <td th:text="${alquileres.precio_total + ' €'}"></td>
                        <td>
                            <a th:href="@{/admin/Alquileres/editar/{id}(id=${alquileres.id})}" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/admin/Alquileres/borrar/{id}(id=${alquileres.id})}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Borrar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

